// Button
.btn {
  letter-spacing: 0.05em;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}

.btn-light {
  &:extend(.btn);
  background-color: @color-light;
  color: @color-dark;

  &:hover, &:focus {
    background-color: @color-light-hover;
  }
}

.btn-dark {
  &:extend(.btn);
  background-color: @color-dark;
  color: @color-light;

  &:hover, &:focus {
    background-color: @color-dark-hover;
  }
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active,
.btn-light:hover, .btn-light:focus, .btn-light:active {
  &:extend(.ouline-none);
}